[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: ultravnc-lihas
name: UltraVNC
description: UltraVNC 1.2.1.0
advice: 
version: 1.2.1.0
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: uninstall.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: unicode
name: setuptype
multivalue: False
editable: True
description: Silent or Full Install (download mirror driver)
values: ["full", "server", "server_silent", "viewer"]
default: ["server_silent"]

[ProductProperty]
type: unicode
name: tasks
multivalue: True
editable: True
description: Tasks to perform during install, like installing and starting the service
values: ["associate", "installservice", "startservice"]
default: ["installservice", "startservice"]

[ProductProperty]
type: unicode
name: components
multivalue: True
editable: True
description: Components to install
values: ["ultravnc_server", "ultravnc_server_s", "ultravnc_viewer"]
default: ["ultravnc_server_s"]

[ProductProperty]
type: unicode
name: httpconnect
multivalue: False
editable: True
description: Enable/Disable HTTP Server
values: ["0", "1"]
default: ["0"]

[ProductProperty]
type: unicode
name: querysetting
multivalue: False
editable: True
description: Ask for local user's permission
values: ["0", "1", "2", "3", "4"]
default: ["4"]

[ProductProperty]
type: unicode
name: querytimeout
multivalue: False
editable: True
description: Timeout for local user's permission
values: ["10", "20", "30"]
default: ["30"]

[ProductProperty]
type: unicode
name: removewallpaper
multivalue: False
editable: True
description: Remove Wallpaper on Server
values: ["0", "1"]
default: ["1"]

[ProductProperty]
type: unicode
name: removeaero
multivalue: False
editable: True
description: Disable Aero effects on Server
values: ["0", "1"]
default: ["1"]

[ProductProperty]
type: unicode
name: connectpriority
multivalue: False
editable: True
description: Controls what happens when more than 1 Client connects
values: ["0", "1"]
default: ["1"]

[ProductProperty]
type: unicode
name: vncfullpass
multivalue: False
editable: True
description: VNC Full-Access Password
values: [""]
default: [""]

[ProductProperty]
type: unicode
name: vncviewpass
multivalue: False
editable: True
description: VNC View-Only Password
values: [""]
default: [""]

[Changelog]
ultravnc (1.2.1.0-1) stable; urgency=low

	* Latest UVNC executables

-- Stefan Baur <lihas@lihas.de>  Sat, 12 Mar 2016 12:40:00 +0000

ultravnc (1.2.0.6-2) stable; urgency=low

	* a lot of cleanup and bugfixing work

-- Stefan Baur <lihas@lihas.de>  Sat, 12 Mar 2016 11:28:00 +0000

ultravnc (1.2.0.6-1) stable; urgency=low

	* initial: created by opsi-setup-detector

-- opsisetupdetector.exe <info@uib.de>  11.06.2015 15:46:10


