[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: adobe-creative-cloud-inst-lihas
name: Adobe Creative Cloud installer stub
description: 
advice: 
version: 3.4.1.181
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup32.ins
uninstallScript: unins32.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
adobe-creative-cloud-inst-lihas (3.4.1.181-1) testing; urgency=low

  * Initial package

-- Stefan Baur <lihas@lihas.de>  Tue, 08 Dec 2015 20:31:00 +0000































