[Package]
version: 2
depends: 
incremental: False

[Product]
type: localboot
id: killcapslock-lihas
name: killcapslock-lihas
description: Aktiviert oder deaktiviert die CAPS-LOCK-Taste
advice: 
version: 1.0
priority: 0
licenseRequired: False
productClasses: 
setupScript: activate.ins
uninstallScript: deactivate.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
killcapslock-lihas (1.0-2) testing; urgency=low

* Now with Reboot after activation/deactivation

-- Stefan Baur <lihas@lihas.de>  Fri, 27 May 2016 09:34:00 +0000

killcapslock-lihas (1.0-1) testing; urgency=low

* Initial package

-- Stefan Baur <lihas@lihas.de>  Fri, 27 May 2016 09:18:00 +0000

