[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: rocket.chat-lihas
name: Rocket.Chat Windows Client
description: 
advice: 
version: 0.0.9
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup32.ins
uninstallScript: unins32.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
rocket.chat-lihas (0.0.9-1) testing; urgency=low

  * Initial package

-- Stefan Baur <lihas@lihas.de>  Sun, 29 Nov 2015 21:02:00 +0000




















