[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: vcrun2008sp1kb2538243x86-lihas
name: Visual C Redistributable Files
description: 
advice: 
version: 2008
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup32.ins
uninstallScript: unins32.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
vcrun2008sp1kb2538243x86-lihas (2008-1) testing; urgency=low

  * Initial package

-- Stefan Baur <lihas@lihas.de>  Sat, 10 May 2014 21:08:00 +0000

















