[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: hw-specific-drivers-lihas
name: hw-specific-drivers-lihas
description: Installiert hardwarespezifische Treiber
advice: 
version: 1.0
priority: 0
licenseRequired: False
productClasses: 
setupScript: install.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
hw-specific-drivers-lihas (1.0-1) testing; urgency=low

  * Initial package

 -- Stefan Baur <lihas@lihas.de>  Mon, 09 May 2016 19:27:00 +0000


















































