[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: ms-ie-kb3087985-lihas
name: ms-ie-kb3087985-lihas
description: Emergency Patch for Internet Explorer 8, 9, 10, 11 on Win7 x86 and x64
advice: 
version: 1
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductDependency]
action: setup
requiredProduct: ms-ie-kb3078071-lihas
requiredStatus: installed
requirementType: before

[Changelog]
ms-ie-kb3087985-lihas (1-1) testing; urgency=low

  * Initial package

 -- Stefan Baur <lihas@lihas.de>  Wed, 19 Aug 2015 15:39:00 +0000





























