[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: activate-win-oem-lihas
name: activate-win-oem-lihas
description: Batch Activation Tool for Windows OEM licenses - needs the *.xrm-ms as backup-cert.xrm-ms and an oem product key in a file named backup-key.txt in a subdirectory matching the name of the mainboard model ("sysinfo.Product Name")
advice: 
version: 1.0
priority: 0
licenseRequired: False
productClasses: 
setupScript: activate.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
activate-win-oem-lihas (1.0-1) testing; urgency=low

  * Initial package

 -- Stefan Baur <lihas@lihas.de>  Thu, 12 May 2016 14:28:00 +0000
