[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: swx2014-std-ger-lihas
name: SolidWorks-Metapaket Standard German/Deutsch
description: 
advice: 
version: 2014
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductDependency]
action: setup
requiredProduct: swx2014-prereq-lihas
requiredStatus: installed
requirementType: before

[ProductDependency]
action: setup
requiredProduct: swx2014-basis-lihas
requiredStatus: installed
requirementType: before

[ProductDependency]
action: setup
requiredProduct: swx2014-german-lihas
requiredStatus: installed
requirementType: before

[ProductDependency]
action: setup
requiredProduct: swx2014-edrawings-lihas
requiredStatus: installed
requirementType: before

[ProductDependency]
action: setup
requiredProduct: swx2014-explorer-lihas
requiredStatus: installed
requirementType: before

[Changelog]
swx2014-std-ger-lihas (2014-1) testing; urgency=low

  * initial release under new naming scheme

 -- Stefan Baur <lihas@lihas.de>  Fri, 14 Aug 2014 12:38:00 +0000




