[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: owc-lihas
name: Microsoft Office Web Components
description: 
advice: 
version: 11
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: unins.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
owc-lihas (11-1) testing; urgency=low

  * Initial package

-- Stefan Baur <lihas@lihas.de>  Sat, 10 May 2014 21:08:00 +0000






















