[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: dotnet-lihas
name: DotNet
description: 
advice: 
version: 4.5.2
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup64.ins
uninstallScript: unins64.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
dotnet-lihas (4.5.2-1) testing; urgency=low

  * Initial package

-- Stefan Baur <lihas@lihas.de>  Mon, 28 Jul 2014 12:31:00 +0000














