[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: ms-gwx-blocker-lihas
name: ms-gwx-blocker-lihas
description: Blockiert das GWX (Get Windows 10) Popup
advice: 
version: 1.0
priority: 0
licenseRequired: False
productClasses: 
setupScript: blocker.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
ms-gwx-blocker-lihas (1.0-1) testing; urgency=low

  * Initial package

 -- Stefan Baur <lihas@lihas.de>  Mon, 18 Aprn 2016 11:58:00 +0000


































