[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: xnview-lihas
name: XNview Image viewer/editor
description: 
advice: 
version: 2.36
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup32.ins
uninstallScript: unins32.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
xnview-lihas (2.36-1) testing; urgency=low

  * Initial package

-- Stefan Baur <lihas@lihas.de>  Fri, 20 May 2016 21:58:00 +0000
