[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: solidworks-prereq-lihas
name: SolidWorks-Metapaket-Installationsvoraussetzungen
description: 
advice: 
version: 2014
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductDependency]
action: setup
requiredProduct: dotnet-lihas
requiredStatus: installed
requirementType: before

[ProductDependency]
action: setup
requiredProduct: vcrun2005sp1kb2538242x86-lihas
requiredStatus: installed
requirementType: before

[ProductDependency]
action: setup
requiredProduct: vcrun2008sp1kb2538243x86-lihas
requiredStatus: installed
requirementType: before

[ProductDependency]
action: setup
requiredProduct: vcrun2010sp1kb2565063x86-lihas
requiredStatus: installed
requirementType: before

[ProductDependency]
action: setup
requiredProduct: vcrun2005sp1kb2538242x64-lihas
requiredStatus: installed
requirementType: before

[ProductDependency]
action: setup
requiredProduct: vcrun2008sp1kb2538243x64-lihas
requiredStatus: installed
requirementType: before

[ProductDependency]
action: setup
requiredProduct: vcrun2010sp1kb2565063x64-lihas
requiredStatus: installed
requirementType: before

[Changelog]
solidworks-prereq-lihas (2014-1) testing; urgency=low

  * Initial package

 -- Stefan Baur <lihas@lihas.de>  Tue, 29 Jul 2014 13:58:00 +0000













