[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: solidworks-vstudioaddins-lihas
name: SolidWorks-VisualStudioAddIns
description: 
advice: 
version: 2014
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup64.ins
uninstallScript: unins64.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductDependency]
action: setup
requiredProduct: solidworks-basis-lihas
requiredStatus: installed
requirementType: before

[Changelog]
solidworks-visualstudioaddins (2014-1) testing; urgency=low

  * Initial package

 -- Stefan Baur <lihas@lihas.de>  Tue, 29 Jul 2014 14:05:00 +0000









