[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: zarafa-winclient-lihas
name: Zarafa Windows Client
description: 
advice: This package will fail to install unless MS Outlook is installed.
version: 7.2.3.52117
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup32.ins
uninstallScript: 
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
zarafa-winclient-lihas (7.2.3.52117-1) testing; urgency=low

  * Initial package after switch from download model to subscr.

-- Stefan Baur <lihas@lihas.de>  Thu, 12 May 2016 11:36:00 +0000













