[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: simplemindpro-lihas
name: Simple Mind Pro
description: 
advice: 
version: 1.8.3
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup32.ins
uninstallScript: unins32.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
simplemindpro-lihas (1.8.3-1) testing; urgency=low

  * Initial package

-- Stefan Baur <lihas@lihas.de>  Sun, 29 Nov 2015 22:40:00 +0000






















