[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: breeze-lihas
name: Breeze Windows Client
description: 
advice: 
version: 1.3.1
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup32.ins
uninstallScript: unins32.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
breeze-lihas (1.3.1-1) testing; urgency=low

  * Initial package

-- Stefan Baur <lihas@lihas.de>  Tue, 08 Dec 2015 14:57:00 +0000



























