[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: bunkspeed_prereq-lihas
name: Bunkspeed Prerequisites Package
description: 
advice: 
version: 2014
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup64.ins
uninstallScript: unins64.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductDependency]
action: setup
requiredProduct: dotnet-lihas
requiredStatus: installed
requirementType: before

[ProductDependency]
action: setup
requiredProduct: dotnet-langpack-deu-lihas
requiredStatus: installed
requirementType: before

[ProductDependency]
action: setup
requiredProduct: vcrun2005sp1kb2538242x64-lihas
requiredStatus: installed
requirementType: before

[ProductDependency]
action: setup
requiredProduct: vcrun2005sp1kb2538242x86-lihas
requiredStatus: installed
requirementType: before

[ProductDependency]
action: setup
requiredProduct: vcrun2008sp1kb2538243x64-lihas
requiredStatus: installed
requirementType: before

[ProductDependency]
action: setup
requiredProduct: vcrun2010sp1kb2565063x64-lihas
requiredStatus: installed
requirementType: before

[ProductDependency]
action: setup
requiredProduct: vcrun2010sp1kb2565063x86-lihas
requiredStatus: installed
requirementType: before

[Changelog]
bunkspeed_prereq-lihas (2014-1) testing; urgency=low

  * Initial package

-- Stefan Baur <lihas@lihas.de>  Mon, 28 Jul 2014 19:32:00 +0000





















